 @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

 *{
  margin: 0;
  padding: 0;
  border: 0;
}

p {
    margin: 0px;
}

h2 {

    padding-top: 15px;
}


.container-fluid {

    padding: 0;

}

.row {
    width: inherit;
}

.row-1 {

    text-align: center;
}


/* Header */

.nav-colour {
  background-color: #ED5050;
}

/* Image Homepage */

.jumbotron-1 {
    background: url("./images/homepage.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: relative;

}

/* Homepage text */

.homepage-text {
   color: #761D1D;
   margin-bottom: 50px;
   margin-top: 50px;
   text-align: center;
}

/* Homepage buttons */

.homepage-buttons {
    margin: 40px;
    margin-top: 0px;
    
}

/* Image Welcome page */

.jumbotron-2 {
    background: url("./images/welcome.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    position: relative;

}

/*Welcome page text*/

.welcome-page-text {
   color: #761D1D;
   margin-bottom: 50px;
   margin-top: 50px;
   text-align: center;
}

/* Image Witness page */

.jumbotron-3 {
    background: url("./images/witness.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    position: relative;

}



.row-2 {
    
    border: 1px solid;
    height: 100px;


}

/* Witness info text and buttons*/

.witness-names {

    font-size: 26px;
    border: 1px solid white;
    height: 25%;
    text-align: center;
    background-color: #ED5050;

}



.witness-names-text {

    margin-top: 25px;
    margin-bottom: 25px; 
    font-size: 36px;
    color: white;
}

.witness-names-buttons {

    margin-top: 25px;
    margin-bottom: 25px;

}

.witness-desc {

    font-size: 20px;
    border: 1px solid white;
    height: 25%;

}

.witness-desc-text {

    color: #761D1D;
    margin: 25px;

}

/* suspects info text and buttons*/

.suspect-names {

    font-size: 26px;
    border: 1px solid white;
    height: 25%;
    text-align: center;
    background-color: #ED5050;

}



.suspect-names-text {

    margin-top: 25px;
    margin-bottom: 25px; 
    font-size: 36px;
    color: white;
}

.suspect-names-buttons {

    margin-top: 25px;
    margin-bottom: 25px;

}

.suspect-desc {

    font-size: 20px;
    border: 1px solid white;
    height: 25%;

}

.suspect-desc-text {

    color: #761D1D;
    margin: 25px;

}

/* Image Suspect page */

.jumbotron-4 {
    background: url("./images/suspect.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    position: relative;

}

/* Image Evidence page */

.jumbotron-5 {
    background: url("./images/evidence.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    position: relative;

}

/* evidence info text and buttons*/

.evidence-names {

    font-size: 26px;
    border: 1px solid white;
    height: 25%;
    text-align: center;
    background-color: #ED5050;

}



.evidence-names-text {

    margin-top: 25px;
    margin-bottom: 25px; 
    font-size: 36px;
    color: white;
}

.evidence-names-buttons {

    margin-top: 25px;
    margin-bottom: 25px;

}

.evidence-desc {

    font-size: 20px;
    border: 1px solid white;
    height: 25%;

}

.evidence-desc-text {

    color: #761D1D;
    margin: 25px;

}

/*convict image*/

.jumbotron-6 {
    background: url("./images/convict.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    position: relative;

}

.convict-button {
    margin: 20px;
}

/*contact form*/

.form-group {

    margin: 10px;
    width: 90%;
    color: #761D1D;

}

.button-submit {

    margin: 10px;
}

.feedback-text {

    margin: 10px;
    color: #761D1D;
}

.feedback-para{

    height: 30%;

}